/* CSS Document */

.text {
	background-color: #fffffff;
	margin: 0px 0px 0px 5px;
	padding: 10px;
	clear: right;
	float: none;
	height: auto;
	width: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: top;
}
.menu1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.2em;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	margin: 0px 0px 0px 5px;
	padding: 5px 5px 5px 5px;
	clear: left;
	float: none;
	height: auto;
	width: auto;
}
#header {
	background-color: #fffffff;
	text-align: justify;
	margin: 10px 5px 0px 5px;
	padding: 10px;
	clear: left;
	float: none;
	height: 80px;
	width: 780px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(http://home.uchicago.edu/~vzhorin/images/top.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
}
#footer {
	background-color: #ffffff;
	text-align: justify;
	margin: 0px 0px 0px 25px;
	padding: 10px;
	clear: left;
	float: none;
	height: 30px;
	width: 780px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(http://home.uchicago.edu/~vzhorin/images/bot.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
}
img {
	margin: 0px 10px 10px 0px;
}
p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 1.3em;
	color: #000000;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #660000;
}
li {
	list-style-type: square;
	line-height: 1em;
}
a:hover {
	font-weight: bold;
	color: #663300;
	text-decoration: underline;
}
a:visited {
	font-weight: bold;
	color: #996633;
}
a {
	font-weight: bold;
	color: #660000;
	text-decoration: none;
}
.disclaimer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #660000;
}
.block {
	background-color: #cccccc;
	padding: 10px;
	border: 1px solid #660000;
	background-position: center;
	display: block;
}
ul {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 1.3em;
	color: #660000;
}
